h2{
    text-align: center;

}
.heading1{
    color: green;
    
}
.heading2{
    color: red;
}

.h1{
    font-size:70px;

}
.h21{
    color: saddlebrown;
}
.h31{
    color: yellow;
}
.h41{
    color: red;
}