h1{
    color: red;
    font-size: 60px;
    background-color: lightblue;
}
h2{
    color: rgb(235, 17, 53);
    font-size: 60px;
}
h3{
    color: blue;
    font-size: 60px;
    
}
h4{
    color:blueviolet;
    font-size: 60px;
}