.t_shadows{
    font-size: 50px;
    color: rgb(38, 159, 214);
    text-align: center;
    text-shadow: -8px 7px 4px rgb(215, 230, 12);
    /*             horizontal vertical blur*/
}
.dol{
    width: 500px;
    height: 400;
    box-shadow: 14px 15px 10px rgb(20, 98, 150);
    
}
.dropshadow{
    width: 500px;
    height: 400;
    box-shadow: 8px 8px 6px red;
    filter: drop-shadow(25px 25px 7px yellow);
}
.dropshadow1{
    width: 500px;
    height: 400;
    filter: drop-shadow(12px 12px 7px rgb(53, 52, 52)
    );
}
